.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  border-bottom: 2px solid black;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.header-menu > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 20em;
}

.header-menu > ul > li {
  display: flex;
  text-align: start;
}

.header-menu > ul > li > a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

.header-menu > ul > li > .active {
  color: rgb(162, 241, 4);
}

.header-logo > img {
  width: 40px;
}

.tabpage {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 95%;
  background-color: aquamarine;
  padding: 1em;
  align-items: center;
  border-radius: 10px;
}

.view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: blanchedalmond;
}

.home-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: cadetblue;
  height: 100%;
  width: 100%;
  margin: 5px 5px;
  border-radius: 6px;
}